{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="page-header">
  <h1>Items</h1>
  <button type="button" class="btn btn-primary">Add Balance</button>
</div>

<ul class="list-group">
{% for item in items %}
    <a hred="" class="list-group-item">{{ item.name }}<span class="badge">{{ item.price }}</span></a>
{% else %}
  <li class="list-group-item"><em>No Items</em>
{% endfor %}
<ul>

<p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS. A fixed navbar has been added within <code>#wrap</code> with <code>padding-top: 60px;</code> on the <code>.container</code>.</p>

{% endblock %}
