{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="page-header">
  <h1>This is for users</h1>
  <div class="input-group">
  <form method="post" class="form">
  
  {{ form.amount(class_ = 'form-control first-input', placeholder = form.amount.label.text, required = true, autofocus = true) }}
  <span class="input-group-btn">
    <input type="submit" value="Add Balance" class="btn btn-primary">
  </span>
  </form>
  </div>
  <h1>This is for publishers</h1>
  <div class="input-group">
    <form method="post" class="form">
    
    {{ add_item_form.name(class_ = 'form-control first-input', placeholder = add_item_form.name.label.text, required = true, autofocus = true) }}
    {{ add_item_form.price(class_ = 'form-control second-input', placeholder = add_item_form.price.label.text, required = true, autofocus = true) }}
    <span class="input-group-btn">
      <input type="submit" value="Add item" class="btn btn-primary">
    </span>
  </form>
  </div>
</div>

<ul class="list-group">
{% for item in items %}
    <a hred="" class="list-group-item">{{ item.name }}<span class="badge">{{ item.price }}</span></a>
{% else %}
  <li class="list-group-item"><em>No Items</em>
{% endfor %}
<ul>

{% endblock %}
